[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
olefile = "*"
datetime = "*"
chardet = "*"
stubs = "*"

[dev-packages]
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pytest-datadir-ng = "*"
pytest-mock = "*"
pytest-subprocess = "*"
tox-pyenv = "*"
pipfile-requirements = "*"
flake8 = "*"

[requires]
python_version = "3.8.5"
